spring:
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: caf5b2109f5652b31804
            client-secret: 86bd03cfc685e3e73bf58b680a48e1a69cc4eeec 

logging:
  level:
    org.springframework.security: INFO
