<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Progetto</title>
		<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
	    <div class="container unauthenticated">
	    	<h1>Login</h1>
	        Accedi con Github: <a href="/oauth2/authorization/github">clicca qui</a>
	    </div>
	    
	    <div class="container authenticated" style="display: none">
	        <p>Benvenuto <span id="user"></span></p>
	        <p>La tua home: <a href="/home">clicca qui</a></p>
	    </div>
	    <script type="text/javascript">
	          $.get("/user", function(data) {
	            $("#user").html(data.name);
	            $(".unauthenticated").hide()
	            $(".authenticated").show()
	          });
        </script>
	</body>
</html>