<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Progetto</title>
		<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
	    <div class="container unauthenticated">
	    	<h1>Login</h1>
				<div>Accedi con Github: <a href="/userHome">clicca qui</a></div>
	    </div>
	</body>
</html>