<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Home Progetto</title>
		<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
		<style>
			body{background-color: #D0E4F5;}
		</style>
	</head>
	<body>
	    <div>
	    	<h1>Home Progetto</h1>
	    	<h2>Effettua il login:</h2>
			<div>Accedi con Github: <a href="/userHome">clicca qui</a></div>
	    </div>
	</body>
</html>