<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Progetto</title>
	</head>
	<body>
		<h1>Progetti Creati</h1>
		
		<table style="width:50%">
			<tr>
			    <th>Progetto</th>
			    <th>Descrizione</th> 
			    <th>Azioni</th>
			</tr>	
			<tr th:each="project: ${projects}">
			    <td th:text="${project.nome}" id="nomeProject"></td>
			    <td th:text="${project.descrizione}"></td>
			    <td>
			    	<form th:action="@{'/editProject' + '?progetto=' + ${project.id}}" method="POST">
			    		<button type="submit" value="aggiorna" name="submit">aggiorna</button>
			    	</form>
			    	<form th:action="@{'/shareMyProject' + '?progetto=' + ${project.id}}" method="POST">
			    		<button type="submit" value="share" name="submit">condividi</button>
			    	</form>
			    	<form th:action="@{'/deleteProject' + '?progetto=' + ${project.id}}" method="POST">
			    		<button type="submit" value="delete" name="submit">cancella</button>
			    	</form>
		    	</td>
			</tr>
		</table>
		<div class="footer"><a href="/userHome">Home utente</a></div>
	</body>
</html>
