<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{/css/tableListProject.css}"/>
	    <meta charset="UTF-8">
	    <title>Progetto</title>
	</head>
	<body>
		<h1>Progetti Creati</h1>
		
		<table>
			<thead>
				<tr>
				    <th>Nome progetto</th>
				    <th>Descrizione</th>
				    <th>Azioni</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project: ${projects}">
				    <td th:text="${project.nome}" id="nomeProject"></td>
				    <td th:text="${project.descrizione}"></td>
				    <td><form th:action="@{'/show' + '?progetto=' + ${project.id}}" method="POST">
				    		<button type="submit" value="show" name="submit">visualizza progetto</button>
				    	</form>
		    		</td>
				</tr>
			</tbody>
		</table>
		<div class="footer"><a href="/userHome">Home utente</a></div>
	</body>
</html>
