<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Progetto</title>
	</head>
	<body>
		<h1>Progetti Creati</h1>
		<ul>
			<tr th:each="project: ${projects}">
			    <ul>
			    	<div><h2><td th:text="${project.nome}" /></h2></div>
			    	<div><td th:text="${project.descrizione}" /></div>
					<br>
		    	</ul>
			</tr>
		</ul>
		
		<div class="footer"><a href="/userHome">Home utente</a></div>
	</body>
</html>
