<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Progetto</title>
	</head>
	<body>
		<h1>Il tuo profilo</h1>
		 <table>
<!-- 	        <tr> -->
<!-- 	            <td>Username: </td> -->
<!-- 	            <td th:text= "${utente.username}">...</td> -->
<!-- 	        </tr> -->
<!-- 	        <tr> -->
<!-- 	            <td>Nome: </td> -->
<!-- 	            <td th:text="${utente.nome}">...</td> -->
<!-- 	        </tr> -->
<!-- 	        <tr> -->
<!-- 	            <td>Cognome: </td> -->
<!-- 	            <td th:text="${utente.cognome}">...</td> -->
<!-- 	        </tr> -->
<!-- 	        <tr> -->
<!-- 	            <td>Ruolo: </td> -->
<!-- 	            <td th:text="${ruolo.role}">...</td> -->
<!-- 	        </tr> -->
<!-- 	        <tr> -->
<!-- 	            <td>Registrato il: </td> -->
<!-- 	            <td th:text="${utente.dataDiCreazione}">...</td> -->
<!-- 	        </tr> -->
		</table>
		Aggiorna il tuo profilo: <a href="/">clicca qui</a>
	</body>
</html>
